ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;

}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

body {
  background: black;

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.contact {
  font-size: 20px;
  color: white;
  text-align: center;
}

.message {
  height: 500%;
}

#text {
  margin: 35px;

}

.one {
  width: 18%;
}

.two {
  width: 18%;
  
}

.three {
  width: 18%;
}

.footer {
  color: black;
  background: white;
  text-align: center;
  margin-top: 15%;
}